.contact {
    width: 100%;
    height: 90vh;
    // background-color: blue;
    padding: 40px 15vw;
    display: flex;
    flex-wrap: nowrap;

    .container {
        width: 100%;
        height: 100%;
        background-color:#e0ebeb;
        display: flex;

        .left {
            width: 50%;
            height: 100%;
            padding: 30px;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            h1 {
                padding-bottom: 25px;
            }

            p {
                padding-bottom: 10px;
                font-size: .9rem;
            }
        }

        .right {
            width: 50%;
            height: 100%;
            padding: 30px 30px 30px 0px;

            form {
                background-color: #171819;
                padding: 40px;
                color: white;

                .p-title {
                    text-align: center;
                    color: #d9d9d9;
                    font-size: 2rem;
                    padding-bottom: 25px;
                    font-family: 'Crimson Text', serif;
                    
                }
                
                label {
                    margin-bottom: 5px;
                    font-size: .9rem;
                }
                input {
                    width: 100%;
                    height: 40px;
                    padding: 10px;
                    margin-bottom: 25px;
                }

                .code {
                    width: 27%;
                    margin-right: 3px;
                }
                .phone {
                    width: 70%;

                }

                button {
                    color: white;
                    background-color: #e6b800;
                    padding: 20px 65px;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 3px;
                    border: none;
                }

                button:hover {
                    background-color:#e69900;
                    cursor: pointer;
                }
            }


        }

    }
}