.footer {
    background-color: #171819;
    height: 25vh;
    padding: 30px 20vw;
    display: flex;

    .left {
        width: 50%;
        height: 100%;
        color: gray;
        padding-top: 20px;

        p {
            font-size: 9px;
        }
        a {
            text-decoration: none;
            color: gray;
        }

        a:hover {
            color: white;
        }
    }

    .right {
        width: 50%;
        height: 100%;
        text-align: right;
        font-size: 9px;
        color: gray;
        padding-top: 50px;

        p {
            padding-bottom: 5px;
        }
    }
}