.header {
    background-image: url('../images/background.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

    h1 {
        position: absolute;
        top: 28%;
        font-weight: bold;
    }

    p {
        position: absolute;
        top: 35%;
        font-size: 18px;
        font-family: 'Crimson Text', serif;
        font-weight: 2px;
        color: gray;

    }

    .header-btn {
        background-color: #171819;
        padding: 10px 60px;
        color: white;
        border: none;
        font-size: 1rem;
        text-decoration: none;

    }
    .header-btn:hover {
        background-color: #383838;
    }

    #section {
        height: 8vh;
        position: absolute;
        bottom: 0px;
        background-color: red;
    }

}