@media screen and (max-width: 767px) {


    .navbar{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 5px;

        .toggle-button {
            display: flex;
            margin-right: 15px;
        }

        .navbar-links {
            width: 100%;
            display: none;
            ul {
                flex-direction: column;
                width: 100%;


            }

            li {
                text-align: center;
            }

            .icon-links {
                display: flex;
                justify-content: center;
            }
        }

        .navbar-links.active {
            display: flex;
        }

    }

    .header {


        h1 {
            top: 25%;
            font-size: 1rem;
        }

        p {
            font-size: .7rem;
            top: 28%;
        }
    }

    .white {
        height: 80vh;
        padding: 25px;

        .content {
            padding-top: 0;
            width: 80%;
        }
    }

    .black {
        height: 110vh;

        padding: 0 10vw;

        .container {

            display: flex;
            flex-wrap: wrap;
            justify-content: center;


            .left {
                padding: 0px;
                padding-top: 25px;
                width: 80vw;
                height: 55vh;
    
            }

            .right {
                padding-top: 0px;
                width: 80vw;
            }
    
        }
        

    }

    .contact {
        padding: 20px 8vw;
        height: 155vh;
        .container {
            display: flex;
            flex-wrap: wrap;
            height: 80vh;

            .left {
                width: 100vw;

                p {
                    font-size: .8rem;
                }

                h1 {
                    font-size: 1.5rem;
                }

            }

            .right {
                width: 100vw;
                // background-color: blue;
                padding: 0px;

                form {
                    padding: 20px;
                }
            }
        }
    }

    .footer {
        height: 45vh;
        padding: 25px;

        display: flex;
        flex-wrap: wrap;


        .left {
            width: 100%;
            height: 20vh;

            img {
                width: 350px;
            }

            p {
                text-align: center;
            }
        }

        .right {
            height: 10vh;
            padding: 0px;
            width: 100%;
            text-align: center;

        }


    }


}

