


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 0px 15vw;
    position: fixed;
    z-index: 2;
    width: 100%;


    .navbar-links {
        display: flex;
        ul {
            margin: 0;
            padding: 0;
            display: flex;
        }

        li {
            list-style: none;
            a {
                text-decoration: none;
                color: white;
                padding: 1rem;
                display: block;
            }
        }
    }

    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

        .bar {
            height: 3px;
            width: 100%;
            background-color: white;
            border-radius: 10px;
        }
    }

    .icon-links {
        display: flex;
        padding: 0px !important;

    }

}