.white {
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 25px 25vw;

    .title {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 25px 0px;

        p {
            font-size: 2rem;
        }
    }

    .content {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        font-size: .9rem;

        p {
            padding-bottom: 25px;
        }
    }

    #services {
        height: 8vh;
        position: relative;
        bottom: 0px;
        background-color: red;
    }
}

.black {
    width: 100%;
    height: 45vh;
    background-color: #171819;
    display: flex;
    justify-content: center;
    padding: 0 15vw;

    .container {
        // background-color: green;
        // width: 70%;
        height: 100%;
        display: flex;
        flex-wrap: no-wrap;
    

        .left {
            width: 50%;
            height: 100%;
            // background-color: white;
            padding: 35px 20px 35px 0px;

            h1 {
                padding-bottom: 20px;
                color: white;
                padding-right: 10px;
                font-size: 1.5rem;
            }

            p {
                padding-bottom: 25px;
                font-size: .8rem;
                color: #d9d9d9;

            }
        }

        .right {
            width: 50%;
            height: 100%;
            padding: 35px 0px  35px 0px;

            h1 {
                padding-bottom: 20px;
                color: white;
                font-size: 1.5rem;
            }

            p {
                padding-bottom: 25px;
                font-size: .8rem;
                color: #d9d9d9;

            }
        }
    
    }
}