@import 'navbar';
@import 'header';
@import 'footer';
@import 'section';
@import 'contact';
@import 'media';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', 'sans-serif';
}

.topnav {
    background-color: #333;
    overflow: hidden;
    padding: 0 15vw;
    position: fixed;
    width: 100%;
    z-index: 2;
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
  }
  
  /* Change the color of links on hover */
//   .topnav a:hover {
//     background-color: #ddd;
//     color: black;
//   }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  #hamburger {
      width: 15px;
      padding: 0px;
  }

  #logo {
      img {
          width: 100px;
      }
  }

  #space {
      padding-left: 300px;
  }


