@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: white;
  padding: 0px 15vw;
  position: fixed;
  z-index: 2;
  width: 100%;
}

.navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-links ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar .navbar-links li {
  list-style: none;
}

.navbar .navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
}

.navbar .toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.navbar .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar .icon-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px !important;
}

.header {
  background-image: url("../images/background.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-attachment: fixed;
}

.header h1 {
  position: absolute;
  top: 28%;
  font-weight: bold;
}

.header p {
  position: absolute;
  top: 35%;
  font-size: 18px;
  font-family: 'Crimson Text', serif;
  font-weight: 2px;
  color: gray;
}

.header .header-btn {
  background-color: #171819;
  padding: 10px 60px;
  color: white;
  border: none;
  font-size: 1rem;
  text-decoration: none;
}

.header .header-btn:hover {
  background-color: #383838;
}

.header #section {
  height: 8vh;
  position: absolute;
  bottom: 0px;
  background-color: red;
}

.footer {
  background-color: #171819;
  height: 25vh;
  padding: 30px 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .left {
  width: 50%;
  height: 100%;
  color: gray;
  padding-top: 20px;
}

.footer .left p {
  font-size: 9px;
}

.footer .left a {
  text-decoration: none;
  color: gray;
}

.footer .left a:hover {
  color: white;
}

.footer .right {
  width: 50%;
  height: 100%;
  text-align: right;
  font-size: 9px;
  color: gray;
  padding-top: 50px;
}

.footer .right p {
  padding-bottom: 5px;
}

.white {
  width: 100%;
  height: 45vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 25px 25vw;
}

.white .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0px;
}

.white .title p {
  font-size: 2rem;
}

.white .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: .9rem;
}

.white .content p {
  padding-bottom: 25px;
}

.white #services {
  height: 8vh;
  position: relative;
  bottom: 0px;
  background-color: red;
}

.black {
  width: 100%;
  height: 45vh;
  background-color: #171819;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15vw;
}

.black .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.black .container .left {
  width: 50%;
  height: 100%;
  padding: 35px 20px 35px 0px;
}

.black .container .left h1 {
  padding-bottom: 20px;
  color: white;
  padding-right: 10px;
  font-size: 1.5rem;
}

.black .container .left p {
  padding-bottom: 25px;
  font-size: .8rem;
  color: #d9d9d9;
}

.black .container .right {
  width: 50%;
  height: 100%;
  padding: 35px 0px  35px 0px;
}

.black .container .right h1 {
  padding-bottom: 20px;
  color: white;
  font-size: 1.5rem;
}

.black .container .right p {
  padding-bottom: 25px;
  font-size: .8rem;
  color: #d9d9d9;
}

.contact {
  width: 100%;
  height: 90vh;
  padding: 40px 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.contact .container {
  width: 100%;
  height: 100%;
  background-color: #e0ebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .left {
  width: 50%;
  height: 100%;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .container .left h1 {
  padding-bottom: 25px;
}

.contact .container .left p {
  padding-bottom: 10px;
  font-size: .9rem;
}

.contact .container .right {
  width: 50%;
  height: 100%;
  padding: 30px 30px 30px 0px;
}

.contact .container .right form {
  background-color: #171819;
  padding: 40px;
  color: white;
}

.contact .container .right form .p-title {
  text-align: center;
  color: #d9d9d9;
  font-size: 2rem;
  padding-bottom: 25px;
  font-family: 'Crimson Text', serif;
}

.contact .container .right form label {
  margin-bottom: 5px;
  font-size: .9rem;
}

.contact .container .right form input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-bottom: 25px;
}

.contact .container .right form .code {
  width: 27%;
  margin-right: 3px;
}

.contact .container .right form .phone {
  width: 70%;
}

.contact .container .right form button {
  color: white;
  background-color: #e6b800;
  padding: 20px 65px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 3px;
  border: none;
}

.contact .container .right form button:hover {
  background-color: #e69900;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    padding: 5px;
  }
  .navbar .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 15px;
  }
  .navbar .navbar-links {
    width: 100%;
    display: none;
  }
  .navbar .navbar-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .navbar .navbar-links li {
    text-align: center;
  }
  .navbar .navbar-links .icon-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .navbar-links.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header h1 {
    top: 25%;
    font-size: 1rem;
  }
  .header p {
    font-size: .7rem;
    top: 28%;
  }
  .white {
    height: 80vh;
    padding: 25px;
  }
  .white .content {
    padding-top: 0;
    width: 80%;
  }
  .black {
    height: 110vh;
    padding: 0 10vw;
  }
  .black .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .black .container .left {
    padding: 0px;
    padding-top: 25px;
    width: 80vw;
    height: 55vh;
  }
  .black .container .right {
    padding-top: 0px;
    width: 80vw;
  }
  .contact {
    padding: 20px 8vw;
    height: 155vh;
  }
  .contact .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 80vh;
  }
  .contact .container .left {
    width: 100vw;
  }
  .contact .container .left p {
    font-size: .8rem;
  }
  .contact .container .left h1 {
    font-size: 1.5rem;
  }
  .contact .container .right {
    width: 100vw;
    padding: 0px;
  }
  .contact .container .right form {
    padding: 20px;
  }
  .footer {
    height: 45vh;
    padding: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer .left {
    width: 100%;
    height: 20vh;
  }
  .footer .left img {
    width: 350px;
  }
  .footer .left p {
    text-align: center;
  }
  .footer .right {
    height: 10vh;
    padding: 0px;
    width: 100%;
    text-align: center;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'sans-serif';
}

.topnav {
  background-color: #333;
  overflow: hidden;
  padding: 0 15vw;
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 15px;
}

/* Change the color of links on hover */
/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

#hamburger {
  width: 15px;
  padding: 0px;
}

#logo img {
  width: 100px;
}

#space {
  padding-left: 300px;
}
/*# sourceMappingURL=main.css.map */